<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imsafe WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>imsafe WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>imsafe WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>imsafe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D32EA785291EE47E007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32EA795291EE47F007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32EA79F291EE47F007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32EA7A9291EE47F007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32EA7CE291EE481007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D32EA7D8291EE481007D975E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
